# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local
.vite

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/backend/Lib/
/backend/client_secret.json
/backend/expensetracker.json
/backend/api_client_secret.json
/backend/desktop_client_secret.json
/backend/.env
/src/api_client_secret.json
/backend/env/
